* {
    margin: 0;
    background-color: black;
}

.main-title {
    color: aliceblue;
}

.nav-click {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    color: aliceblue;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Color change to the hover */
.nav-container a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.nav-container a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

/* Color change to the active current link user clicks */
.nav-container a.active {
    background-color: red;
    color: white;
}

/* H1 intro edit here */
.intro-section {
    padding: 200px;
    text-align: center;
}

.intro {
    font-size: 3em;
    color: white;
    margin: 0 0 20px 0;
}

.h3-intro {
    color: white;
    margin: 0;
    margin: 0 0 20px 0;
}

.p-intro {
    color: rgba(255, 255, 255, 0.7);
    margin: 0;
    margin: 0 0 20px 0;
}

img {
    width: 35px;
    height: auto;
    margin-right: 10px;
}

/* About section here */
.about-section {
    background-color: #f9f9f9;
    padding: 50px 20px;
    font-family: 'Arial', sans-serif;
    color: #333; 
}

.about-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
}

.about-content {
    max-width: 800px; 
    margin: 0 auto; 
    line-height: 1.6; 
    font-size: 1.1rem; 
    color: white;
}
.about-title {
    color: white;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
    .nav-click {
        float: none;
        display: block;
        text-align: center;
    }

    .intro-section {
        padding: 100px 20px;
    }

    .intro {
        font-size: 2em;
    }

    .about-section {
        flex-direction: column;
        padding: 100px 20px;
    }

    .about-content {
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .intro-section {
        padding: 50px 10px;
    }

    .intro {
        font-size: 1.5em;
    }

    .about-section {
        padding: 50px 10px;
    }

    .about-content {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    .about-title {
        font-size: 2rem; /* Smaller title font size on small screens */
    }

    .about-content {
        font-size: 1rem; /* Smaller content font size on small screens */
    }
}
